*/article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary
{
display:block
}
audio,canvas,progress,video
{
display:inline-block
}
audio:not([controls])
{
display:none;
height:0
}
[hidden],template
{
display:none
}
*,:after,:before
{
background-repeat:no-repeat;
box-sizing:inherit
}
:after,:before
{
text-decoration:inherit;
vertical-align:inherit
}
html
{
box-sizing:border-box;
cursor:default;
font-family:sans-serif;
line-height:1.5;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%
}
body
{
margin:0
}
h1
{
font-size:2em;
margin:.67em 0
}
code,kbd,pre,samp
{
font-family:monospace,monospace;
font-size:1em
}
hr
{
height:0;
overflow:visible
}
nav ol,nav ul
{
list-style:none
}
abbr[title]
{
border-bottom:1px dotted;
text-decoration:none
}
b,strong
{
font-weight:inherit;
font-weight:bolder
}
dfn
{
font-style:italic
}
mark
{
background-color:#ff0;
color:#000
}
progress
{
vertical-align:baseline
}
small,sub,sup
{
font-size:83.3333%
}
sub,sup
{
line-height:0;
position:relative;
vertical-align:baseline
}
sub
{
bottom:-.25em
}
sup
{
top:-.5em
}
::-moz-selection
{
background-color:#b3d4fc;
color:#000;
text-shadow:none
}
::selection
{
background-color:#b3d4fc;
color:#000;
text-shadow:none
}
audio,canvas,iframe,img,svg,video
{
vertical-align:middle
}
img
{
border-style:none
}
svg
{
fill:currentColor
}
svg:not(:root)
{
overflow:hidden
}
a
{
background-color:transparent;
-webkit-text-decoration-skip:objects
}
a:hover
{
outline-width:0
}
table
{
border-collapse:collapse;
border-spacing:0
}
button,input,select,textarea
{
background-color:transparent;
border-style:none;
color:inherit;
font-size:1em;
margin:0
}
button,input
{
overflow:visible
}
button,select
{
text-transform:none
}
[type=reset],[type=submit],button,html [type=button]
{
-webkit-appearance:button
}
::-moz-focus-inner
{
border-style:none;
padding:0
}
:-moz-focusring
{
outline:1px dotted ButtonText
}
fieldset
{
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em
}
legend
{
display:table;
max-width:100%;
padding:0;
white-space:normal
}
textarea
{
overflow:auto;
resize:vertical
}
[type=checkbox],[type=radio]
{
padding:0
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button
{
height:auto
}
[type=search]
{
-webkit-appearance:textfield;
outline-offset:-2px
}
::-webkit-search-cancel-button,::-webkit-search-decoration
{
-webkit-appearance:none
}
::-webkit-input-placeholder
{
color:inherit;
opacity:.54
}
::-webkit-file-upload-button
{
-webkit-appearance:button;
font:inherit
}
[aria-busy=true]
{
cursor:progress
}
[aria-controls]
{
cursor:pointer
}
[aria-disabled]
{
cursor:default
}
[tabindex],a,area,button,input,label,select,textarea
{
-ms-touch-action:manipulation;
touch-action:manipulation
}
[hidden][aria-hidden=false]
{
clip:rect(0,0,0,0);
display:inherit;
position:absolute
}
[hidden][aria-hidden=false]:focus
{
clip:auto
}
</style><style type="text/css">img,video
{
max-width:100vw
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Home__inner___3AqYz
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Home__container___1rLpt
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Home__colSmall___L9NL2
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Home__colBig___1AoVV
{
width:80%;
margin:0 auto;
float:left
}
.Home__dark___223v_
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Home__smallText___2RALJ
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Home__pageTitle___1Clbv
{
font-size:30px;
line-height:48.5px;
color:#151515;
letter-spacing:.04em
}
.Home__header___27bXi,.Home__pageTitle___1Clbv
{
font-family:haptik-light,helvetica,"sans-serif"
}
.Home__header___27bXi
{
font-size:18px;
line-height:27.5px;
color:#0f0f0f;
letter-spacing:.08em
}
.Home__baseLink___3Pq3k,.Home__tag___3TTVC
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Home__tag___3TTVC
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Hero__hero___tP7Cx,.Hero__inner___Gqy8v
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Hero__container___2R3eX,.Hero__hero___tP7Cx,.Hero__titleContainer___1LXeQ
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Hero__colSmall___uuUj1
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Hero__colBig___1v_hU
{
width:80%;
margin:0 auto;
float:left
}
.Hero__dark___2-Tly
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Hero__smallText___3XtcI
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Hero__pageTitle___28Xyw
{
font-size:30px;
line-height:48.5px;
color:#151515;
letter-spacing:.04em
}
.Hero__header___2O8rN,.Hero__pageTitle___28Xyw
{
font-family:haptik-light,helvetica,"sans-serif"
}
.Hero__header___2O8rN
{
font-size:18px;
line-height:27.5px;
color:#0f0f0f;
letter-spacing:.08em
}
.Hero__baseLink___2ydK5,.Hero__tag___2xM98
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Hero__tag___2xM98
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.Hero__hero___tP7Cx
{
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
min-height:100vh;
padding:50px 0 100px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Hero__hero___tP7Cx
{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:end;
-ms-flex-pack:end;
justify-content:flex-end;
padding:50px 0
}

}
@media only screen and (min-width:1300px)
{
.Hero__hero___tP7Cx
{
padding:50px 0 150px
}

}
.Hero__logo___Fkb8A
{
height:13px;
-webkit-box-ordinal-group:2;
-ms-flex-order:1;
order:1;
width:36px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Hero__logo___Fkb8A
{
-ms-flex-item-align:start;
align-self:flex-start
}

}
.Hero__titleContainer___1LXeQ
{
-webkit-box-ordinal-group:4;
-ms-flex-order:3;
order:3;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-box-align:end;
-ms-flex-align:end;
align-items:flex-end;
-ms-flex-item-align:end;
align-self:flex-end;
width:100%;
text-align:left
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Hero__titleContainer___1LXeQ
{
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-ordinal-group:3;
-ms-flex-order:2;
order:2;
-webkit-box-flex:1;
-ms-flex-positive:1;
flex-grow:1;
margin:30px 0
}

}
.Hero__pageTitle___28Xyw
{
width:50%;
min-height:194px;
max-height:242.5px;
overflow:hidden
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Hero__pageTitle___28Xyw
{
width:100%;
min-height:194px
}

}
@media only screen and (min-width:1300px)
{
.Hero__pageTitle___28Xyw
{
min-height:97px
}

}
.Hero__pageTitleAnimated___1wQCe
{
color:#b1b1b1
}
.Hero__arrow___2-JNi
{
width:7px;
height:17.5px;
margin-bottom:17px;
overflow:hidden;
position:relative
}
.Hero__arrow___2-JNi:hover
{
cursor:pointer
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Hero__arrow___2-JNi
{
display:none
}

}
.Hero__arrow___2-JNi svg
{
bottom:0;
position:absolute;
z-index:1;
fill:#6f6f6f
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Contact__inner___2igt-
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Contact__contact___3OWXR,.Contact__container___3Qa3E
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Contact__colSmall___2yVJS
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Contact__colBig___3u9OD
{
width:80%;
margin:0 auto;
float:left
}
.Contact__dark___3cZt2
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Contact__contact___3OWXR,.Contact__smallText___2McUn
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Contact__pageTitle___2tIFK
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Contact__header___3e5Vd
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Contact__baseLink___3FxFK,.Contact__tag___1hOvM
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Contact__tag___1hOvM
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.Contact__contact___3OWXR
{
color:#b1b1b1;
-webkit-box-ordinal-group:3;
-ms-flex-order:2;
order:2
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Contact__contact___3OWXR
{
-webkit-box-ordinal-group:4;
-ms-flex-order:3;
order:3;
-webkit-box-pack:start;
-ms-flex-pack:start;
justify-content:flex-start;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
width:100%
}

}
.Contact__title___E5GwK
{
color:#151515
}
.Contact__col___3X33O:nth-of-type(2)
{
margin-left:47.5px;
margin-right:47.5px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Contact__col___3X33O
{
margin:10px 0;
width:50%;
float:left;
display:inline-block
}
.Contact__col___3X33O:first-of-type
{
width:100%
}
.Contact__col___3X33O:nth-of-type(2)
{
margin:10px 0
}

}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Contact__social___1EQCN
{
margin:10px 0;
width:50%;
float:left;
display:inline-block
}

}
.Contact__link___1phkH
{
line-height:10px;
padding:5px 10px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Contact__link___1phkH
{
display:inline-block
}

}
.Contact__contactLink___2q0Wc
{
line-height:10px;
padding:5px 10px;
margin:1px 0 1px -10px
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.About__inner___SbQpy
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.About__container___1N18q
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.About__colSmall___3Za2P
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.About__colBig___alPB_
{
width:80%;
margin:0 auto;
float:left
}
.About__componentDark___fLqoW,.About__dark___23U-Y
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.About__smallText___3Iicd
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.About__pageTitle___1KDDK
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.About__header___3oEJS
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.About__baseLink___3gd7F,.About__tag___2kI9g
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.About__tag___2kI9g
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.About__awards___lOoE0
{
border-bottom:1px solid #1b1b1b;
padding:60px 0
}
.About__awardList___19qKO
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}
.About__talks___8I-lC
{
padding:242px 0 111.5px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.About__talks___8I-lC
{
padding:60px 0 80px
}

}
.About__talksBody___tI8Mx
{
font-size:18px;
letter-spacing:.8px;
max-width:60%
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.About__talksBody___tI8Mx
{
max-width:100%
}

}
.About__talksLink___2YH1x,.About__talksLink___2YH1x:active,.About__talksLink___2YH1x:focus,.About__talksLink___2YH1x:link,.About__talksLink___2YH1x:visited
{
color:#b1b1b1;
padding:2px
}
</style><style type="text/css">.Award__award___11uck
{
width:11.11111%;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Award__award___11uck
{
width:33.33333%
}

}
.Award__award___11uck:hover .Award__logo___1FeWc
{
opacity:.7;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
-webkit-transition:opacity .3s;
transition:opacity .3s
}
.Award__logo___1FeWc
{
width:100%;
max-width:80px;
opacity:.4;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
-webkit-transition:opacity .3s;
transition:opacity .3s;
margin:0 auto
}
.Award__count___3UXEw
{
font-size:12px;
text-align:center;
line-height:35px;
width:33px;
height:33px;
opacity:1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
background-color:#050505;
color:#fff;
border-radius:50%;
display:inline-block;
margin:0 auto;
margin-top:20px
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Portfolio__inner___1r7JN
{
width:83.33333%;
max-width:1335px;
margin:0 auto;

}
.Portfolio__container___3zf1j,.Portfolio__inner___1r7JN
{

display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Portfolio__colSmall___3wIOK
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Portfolio__colBig___3PSs2
{
width:80%;
margin:0 auto;
float:left
}
.Portfolio__dark___1crwO
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Portfolio__smallText___2M0vQ
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Portfolio__pageTitle___3Fg4Q
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Portfolio__header___254r2
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Portfolio__baseLink___rpjmL,.Portfolio__tag___1oWbI
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Portfolio__tag___1oWbI
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.Portfolio__portfolio___3eeh6
{
padding-top:20px;
border-bottom:1px solid #f3f3f3;
background: white;
}
</style><style type="text/css">.MediaFile__IIV___2G-Ge::-webkit-media-controls-play-button,.MediaFile__IIV___2G-Ge::-webkit-media-controls-start-playback-button,.MediaFile__videoItem___2NIO2::-webkit-media-controls-play-button,.MediaFile__videoItem___2NIO2::-webkit-media-controls-start-playback-button,video::-webkit-media-controls-start-playback-button
{
opacity:0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
pointer-events:none;
width:5px
}
video
{
-o-object-fit:cover;
object-fit:cover
}
</style><style type="text/css">.Carousel__inner___2rPvz
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Carousel__container___1zrAG
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Carousel__colSmall___1_yL8
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Carousel__colBig___2Tkuc
{
width:80%;
margin:0 auto;
float:left
}
.Carousel__placeholder___1R34H
{
width:800px;
height:600px;
background:#eee
}
.Carousel__ScrollContainer___e9Rz8
{
width:100vw;
overflow:hidden
}
.Carousel__ScrollInner___1HmF-
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
width:calc(4 * ((100vw * 3/4) + 20px));
padding:0 10px
}
.Carousel__Slide___2QPlO
{
width:75vw;
display:inline-block;
float:left
}
.Carousel__Slide___2QPlO .Carousel__placeholder___1R34H,.Carousel__Slide___2QPlO img,.Carousel__Slide___2QPlO video
{
width:100%;
height:56.25vw;
background-color:#eee
}
</style><style type="text/css">.Gallery__inner___2XccR
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Gallery__container___3nRMz
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Gallery__colSmall___3BU0I
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Gallery__colBig___2m03H
{
width:80%;
margin:0 auto;
float:left
}
.Gallery__placeholder___2hgRI
{
width:800px;
height:600px;
background:#eee
}
.Gallery__gallery___1taTV
{
width:100vw;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-ms-flex-wrap:nowrap;
flex-wrap:nowrap
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Gallery__gallery___1taTV
{
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

}
.Gallery__gallery___1taTV .Gallery__placeholder___2hgRI,.Gallery__gallery___1taTV img,.Gallery__gallery___1taTV video
{
width:calc(25% - 15px);
height:calc((25vw - 15px) * 6/8);
background-color:#eee
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Gallery__gallery___1taTV .Gallery__placeholder___2hgRI,.Gallery__gallery___1taTV img,.Gallery__gallery___1taTV video
{
width:calc(50% - 10px);
height:calc((50vw - 15px) * 6/8);
margin-bottom:20px
}

}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Gallery__gallery___1taTV .Gallery__placeholder___2hgRI,.Gallery__gallery___1taTV img,.Gallery__gallery___1taTV video
{
width:100%;
height:calc((100vw - 15px) * 6/8)
}

}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Project__inner___2u29h
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Project__container___1aJ75,.Project__information___1DSjj,.Project__inner___2u29h
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Project__colSmall___3EWiO
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Project__colBig___8JYYV
{
width:80%;
margin:0 auto;
float:left
}
.Project__dark___kIyi-
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Project__smallText___3kU4Q
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Project__pageTitle___1u-Sf,.Project__title___3PJ2p
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Project__header___1iVvo
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Project__baseLink___3ytxf,.Project__category___2caJq,.Project__link___28PW-,.Project__tag___bBHOv
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Project__category___2caJq,.Project__tag___bBHOv
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.Project__project___3fRlf
{
padding-bottom:250px;
overflow:hidden
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__project___3fRlf
{
padding-bottom:60px
}

}
.Project__Waypoint___2ayN0
{
position:absolute
}
.Project__gallery___29ZbO
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-ms-flex-wrap:nowrap;
flex-wrap:nowrap
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__gallery___29ZbO
{
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

}
.Project__gallery___29ZbO img,.Project__gallery___29ZbO video
{
width:calc(25% - 15px)
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__gallery___29ZbO img,.Project__gallery___29ZbO video
{
width:calc(50% - 10px);
padding-bottom:20px
}

}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Project__gallery___29ZbO img,.Project__gallery___29ZbO video
{
width:100%
}

}
.Project__media___2XFOQ
{
width:calc(25% - 15px)
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__media___2XFOQ
{
width:calc(50% - 10px);
padding-bottom:20px
}

}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Project__media___2XFOQ
{
width:100%
}

}
.Project__information___1DSjj
{
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
padding-top:150px
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__information___1DSjj
{
padding-top:0;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

}
.Project__details___2wfOm
{
max-width:50%
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__details___2wfOm
{
width:100%;
max-width:100%
}

}
.Project__title___3PJ2p
{
width:30%;
padding-right:10px;
box-sizing:border-box
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__title___3PJ2p
{
width:100%;
padding:60px 0
}

}
.Project__description___1xvvB
{
padding-bottom:50px
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__description___1xvvB
{
width:100%;
padding-bottom:30px
}

}
.Project__outcome___3C9b-
{
padding-bottom:50px
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__outcome___3C9b-
{
width:100%;
padding-bottom:30px
}

}
.Project__category___2caJq:after
{
content:", "
}
.Project__category___2caJq:last-of-type:after
{
content:""
}
.Project__more___JMxbl
{
width:30%
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__more___JMxbl
{
width:100%
}

}
.Project__link___28PW-
{
padding:5px 10px;
line-height:10px;
display:inline-block;
float:right;
clear:both;
box-shadow:inset 0 0 0 0 #fff
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Project__link___28PW-
{
margin-top:30px;
float:left
}
.Project__link___28PW-:first-of-type
{
margin-top:60px
}

}
.Project__placeholder___2bI9j
{
width:calc(75% - 20px)
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Clients__inner___25WjJ
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Clients__container___rloTq,.Clients__inner___25WjJ
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Clients__clientsTitle___1EK3C,.Clients__colSmall___1ZutO
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Clients__colBig___ilMOn
{
width:80%;
margin:0 auto;
float:left
}
.Clients__dark___2Tw3L
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Clients__smallText___1t25X
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Clients__pageTitle___3ugDE
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Clients__header___3OAq0
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Clients__baseLink___U-HDR,.Clients__tag___3-Fxz
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Clients__tag___3-Fxz
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Clients__inner___25WjJ
{
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Clients__clientsTitle___1EK3C
{
padding-bottom:30px;
width:100%
}

}
.Clients__clientsList___227pE
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:start;
-ms-flex-pack:start;
justify-content:flex-start;
margin-top:-14px
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Clients__clientsList___227pE
{
margin-top:0;
padding-bottom:30px;
width:100%
}

}
.Clients__clients___A8NoH
{
border-bottom:1px solid #f3f3f3;
padding:68px 0
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Clients__clients___A8NoH
{
padding:30px 0 0
}

}
</style><style type="text/css">.Client__client___1xqNc
{
display:inline-block;
width:12.5%;
text-align:center
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Client__client___1xqNc
{
width:25%
}

}
.Client__clientLogo___1XMak
{
opacity:.6;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
width:100%;
max-width:65px
}
.Client__clientLogo___1XMak:hover
{
opacity:.3;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
-webkit-transition:opacity .3s;
transition:opacity .3s
}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Services__inner___1B_mm
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Services__container___2qKum,.Services__inner___1B_mm
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Services__colSmall___3Um5J,.Services__servicesTitle___2lpqp
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Services__colBig___30wj0,.Services__servicesList___18c1b
{
width:80%;
margin:0 auto;
float:left
}
.Services__dark___1NsKS
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Services__smallText___1Fn8L
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Services__pageTitle___35NRj
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Services__header___1Q3OO
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Services__baseLink___36rVA,.Services__service___2OAG3,.Services__tag___3-gBJ
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Services__service___2OAG3,.Services__tag___3-gBJ
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Services__inner___1B_mm
{
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Services__servicesTitle___2lpqp
{
width:100%;
padding-bottom:30px
}

}
.Services__servicesList___18c1b
{
font-size:9px
}
@media only screen and (max-width:800px),only screen and (min-device-width:480px) and (max-device-width:1025px)
{
.Services__servicesList___18c1b
{
width:100%;
padding-bottom:30px
}

}
@media only screen and (min-width:1300px)
{
.Services__servicesList___18c1b
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row
}

}
.Services__services___30hmH
{
padding:70px 0;
border-top: 1px solid rgba(184, 184, 184, 0.31); 

}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Services__services___30hmH
{
padding:30px 0;
border-top:
}

}
.Services__service___2OAG3
{
text-transform:uppercase;
display:inline-block;
padding:0 36px 0 0
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.Services__service___2OAG3
{
padding:0 18px 0 0
}

}
@media only screen and (min-width:1300px)
{
.Services__service___2OAG3
{
padding:0
}

}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.Footer__inner___3YYjW
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.Footer__container___26A8x,.Footer__inner___3YYjW
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.Footer__colSmall___28Acl
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.Footer__colBig___1qfvm
{
width:80%;
margin:0 auto;
float:left
}
.Footer__careers___ZiUw1,.Footer__dark___1_1Nn
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.Footer__smallText___1nrUg
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.Footer__pageTitle___2GT_u
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.Footer__header___3V9aV
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.Footer__baseLink___3EV2S,.Footer__tag___2G4ee
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.Footer__tag___2G4ee
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.Footer__careers___ZiUw1
{
padding:100px 0
}
.Footer__jobTitle___2I_Ck
{
color:#b1b1b1
}
</style><style type="text/css">.Jobs__container___2w2Ui h1
{
font-weight:700;
font-size:10vmax;
line-height:8vmax;
margin:10vmax 0 20vmax
}
.Jobs__container___2w2Ui section
{
margin:0 auto;
max-width:55vmax;
font-size:1.1vmax
}
@media screen and (max-width:600px)
{
.Jobs__container___2w2Ui section
{
padding:0 5vmax;
font-size:2vmax
}

}
.Jobs__job___2MMJN
{
margin:10vmax 0 20vmax
}
.Jobs__job___2MMJN header
{
color:#b1b1b1;
background-color:#1b1b1b;
padding:7.5vmax 0
}
.Jobs__job___2MMJN h2
{
font-weight:400;
padding-top:.5vmax;
font-size:2.75vmax;
line-height:2.75vmax;
color:#fff
}
.Jobs__job___2MMJN:first-child
{
margin-top:0
}
.Jobs__intro___22kKz
{
margin:2.5vmax 0 0;
font-size:1.4vmax;
line-height:3vmax
}
@media screen and (max-width:600px)
{
.Jobs__intro___22kKz
{
font-size:2.5vmax;
line-height:5vmax
}

}
.Jobs__info___1UaJN
{
color:#0f0f0f;
padding:8vmax 0 5vmax
}
.Jobs__info___1UaJN h3
{
font-weight:400;
font-size:2vmax;
margin:5vmax 0 2.5vmax;
color:#000
}
.Jobs__info___1UaJN ul
{
padding-left:1em;
margin-bottom:4vmax
}
.Jobs__info___1UaJN ul li
{
padding:0 0 .5em .5em;
line-height:1.9em
}
.Jobs__cta___2AOvr
{
border:1px solid #000;
background-color:#000;
color:#fff;
text-transform:uppercase;
padding:2vmax 5vmax;
margin:5vmax 0;
font-weight:700;
font-size:.9vmax;
letter-spacing:2px;
-webkit-transition:all .25s ease;
transition:all .25s ease
}
.Jobs__cta___2AOvr:hover
{
background-color:#fff;
color:#000
}
@media screen and (max-width:600px)
{
.Jobs__cta___2AOvr
{
font-size:1.5vmax
}

}
</style><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
display:block
}
body
{
line-height:1;
-webkit-font-smoothing:antialiased
}
a,a:active,a:focus,a:visited
{
color:inherit;
text-decoration:none;
outline:0
}
blockquote,q
{
quotes:none
}
blockquote:after,blockquote:before,q:after,q:before
{
content:"";
content:none
}
table
{
border-collapse:collapse;
border-spacing:0
}
@font-face
{
font-family:haptik-light;
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot);
src:url(fonts/GT-Haptik-Light-276c8a078aed0f8a53e35d3e17a96369.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Light-d5835ad83e7b265e9e95b4cf50941251.woff) format("woff"),url(fonts/GT-Haptik-Light-09ab9d61be95f1b5277a4654aa347658.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
@font-face
{
font-family:haptik-regular;
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot);
src:url(fonts/GT-Haptik-Regular-b78e1bedba90da01c999de43d99d5535.eot?#iefix) format("embeddedopentype"),url(fonts/GT-Haptik-Regular-cc117ed731905b5ed54fcf8e44c7c2b4.woff) format("woff"),url(fonts/GT-Haptik-Regular-62e8796f563f34ad5f4630a722e79eec.ttf) format("ttf");
font-style:normal;
font-weight:300;
font-stretch:normal
}
.JobHero__hero___2El0C,.JobHero__inner___2JUiD
{
width:83.33333%;
max-width:1335px;
margin:0 auto
}
.JobHero__container___2osXV,.JobHero__hero___2El0C,.JobHero__titleContainer___3C96A
{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-pack:distribute;
justify-content:space-around;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start
}
.JobHero__colSmall___2nkrV
{
width:20%;
margin:0 auto;
float:left;
padding-right:40px
}
.JobHero__colBig___rFbEC
{
width:80%;
margin:0 auto;
float:left
}
.JobHero__dark___1yAti
{
background-color:#0f0f0f;
color:#6f6f6f
}
body
{
font-size:15px;
line-height:33px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.06em
}
.JobHero__smallText___1ugsE
{
font-size:10px;
line-height:17px;
letter-spacing:.1em
}
.JobHero__pageTitle___3TrFs
{
font-size:30px;
line-height:48.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#151515;
letter-spacing:.04em
}
.JobHero__header___1FMYG
{
font-size:18px;
line-height:27.5px;
font-family:haptik-light,helvetica,"sans-serif";
color:#0f0f0f;
letter-spacing:.08em
}
.JobHero__baseLink___2zcY3,.JobHero__tag___3UGJ-
{
font-family:haptik-regular,helvetica,"sans-serif";
font-size:10px;
line-height:33.5px;
text-transform:uppercase;
letter-spacing:.1em
}
.JobHero__tag___3UGJ-
{
color:#b1b1b1;
text-transform:none
}
::-moz-selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
::selection
{
color:#b1b1b1;
background-color:#1b1b1b
}
.JobHero__hero___2El0C
{
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
min-height:100vh;
padding:50px 0 100px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.JobHero__hero___2El0C
{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
-webkit-box-pack:end;
-ms-flex-pack:end;
justify-content:flex-end;
padding:50px 0
}

}
@media only screen and (min-width:1300px)
{
.JobHero__hero___2El0C
{
padding:50px 0 150px
}

}
.JobHero__logo___31aCs
{
height:13px;
-webkit-box-ordinal-group:2;
-ms-flex-order:1;
order:1;
width:36px
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.JobHero__logo___31aCs
{
-ms-flex-item-align:start;
align-self:flex-start
}

}
.JobHero__titleContainer___3C96A
{
-webkit-box-ordinal-group:4;
-ms-flex-order:3;
order:3;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-box-align:end;
-ms-flex-align:end;
align-items:flex-end;
-ms-flex-item-align:end;
align-self:flex-end;
width:100%;
text-align:left
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.JobHero__titleContainer___3C96A
{
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-ms-flex-direction:row;
flex-direction:row;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-ordinal-group:3;
-ms-flex-order:2;
order:2;
-webkit-box-flex:1;
-ms-flex-positive:1;
flex-grow:1;
margin:30px 0
}

}
.JobHero__pageTitle___3TrFs
{
width:50%;
min-height:194px;
max-height:242.5px;
overflow:hidden
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.JobHero__pageTitle___3TrFs
{
width:100%;
min-height:194px
}

}
@media only screen and (min-width:1300px)
{
.JobHero__pageTitle___3TrFs
{
min-height:97px
}

}
.JobHero__pageTitleAnimated___3qpTk
{
color:#b1b1b1
}
.JobHero__arrow___35xDd
{
width:7px;
height:17.5px;
margin-bottom:17px;
overflow:hidden;
position:relative
}
.JobHero__arrow___35xDd:hover
{
cursor:pointer
}
@media only screen and (max-width:600px),only screen and (min-device-width:320px) and (max-device-width:765px)
{
.JobHero__arrow___35xDd
{
display:none
}

}
.JobHero__arrow___35xDd svg
{
bottom:0;
position:absolute;
z-index:1;
fill:#6f6f6f
}
